/vendor
/node_modules
/Homestead
Homestead.yaml
Homestead.json
.env
.vagrant
/build
/public/storage/francken-vrij
/public/dist
/public/mix-manifest.json
/database/database.sqlite
/public/storage/
/public/uploads/
/public/images/
/public/vendor/
.php_cs.cache
.cache/
/storage/debugbar/
