includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    level: 3
    paths:
        - src
    ignoreErrors:
        - '#Access to an undefined property Spatie\\Permission\\Models\\Role::\$name.#'
        - '#Access to an undefined property Spatie\\Permission\\Models\\Role::\$guard_name.#'
