includes:
	- phpstan-baseline.neon
parameters:
    level: max
    paths:
        - src
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Property .* \(Illuminate\\Support\\Carbon\|null\) does not accept DateTimeImmutable#'
        - '#Property .* \(Carbon\\Carbon\|null\) does not accept DateTimeImmutable#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder.*#'
