<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit Test Suite">
            <directory>./tests/Francken</directory>
        </testsuite>
        <testsuite name="Application Test Suite">
            <directory suffix="Feature.php">./tests/Features</directory>
        </testsuite>
    </testsuites>
    <filter>
       <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
       </whitelist>
    </filter>
    <php>
        <server name="TELESCOPE_ENABLED" value="false"/>
        <server name="APP_ENV" value="testing"/>
        <server name="APP_KEY" value="base64:n5VY5WYHeOSLa9x6TgX8hjpifzjbzHz9MBq0jMs69ko="/>
        <server name="APP_URL" value="http://francken.nl.localhost"/>

        <server name="CACHE_DRIVER" value="array"/>
        <server name="SESSION_DRIVER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="DB_CONNECTION" value="testing"/>
        <server name="DB_CONNECTION" value="testing"/>
        <server name="MAIL_DRIVER" value="log"/>

        <server name="NEWS_TYPE" value="eloquent"/>

        <server name="PLUS_ONE_PASSWORD" value="$2y$10$G8JBEHEjzVQYmazk2AzekujDYHIH4JIP9KKbblzTust1VXXQFa4Aa"/>
        <server name="PLUS_ONE_KEY" value="VCNdSDNlfjZbeJxDzRI0G3Ho7cLzPN7g"/>
    </php>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
        <log type="coverage-html" target="build/logs/html/"/>
    </logging>
</phpunit>
