.preview-item {
    padding: 2em 1em;
    transition: background 0.25s;

    &:hover {
        background: #efefef;
    }
}

.preview-item__date {
    background: #cccccc;
    color: white;
}

.preview-item__title {
    color: $primary-color;
}