body {
    width: 100%;
    height: 100%;
    font-family: 'Lora', 'Times New Roman', serif;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #404040;
}

html {
    width: 100%;
    height: 100%;
}

p {
  line-height: 1.5;
  float: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}

h4 {
  font-weight: 500;
  font-size: 28px;
}

a {
  color: #404040;
}

blockquote {
  color: #808080;
  font-style: italic;
}

footer {
  background-color: #001841;
  /* background-color: #343538; */
  color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer {
  background-color: lightgray;
}

.about-francken {
  border-top: thin solid #001841;
  border-bottom: thin solid #001841;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.about-francken div {
  background-color: #002E60;
  color: white;
}

footer {
  background-color: #001841;
  color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer a {
    color: white;
}

.front-header {
    background-color: #001841;
    margin-bottom: 1em;
    border-bottom: 25px solid #002E60;
}

.front-header__internal {
    width:100%;
    height: 400px;
    color: white;
}

.front-header__header {
    padding-top: 160px;
    margin: 0;
    text-align: center;
    font-size: 50px
}

.sidebar {
  margin-left: 4em;
  padding-right: 2em;
}

.sidebar h3, .sidebar h4 {
  font-family: serif;
  font-weight: normal;
  text-align: center;
}

.sidebar h4 {
  font-size: 14px;
  margin-top: 1.5em;
  line-height: 1.5;
}

.sidebar i {
  margin-right: 2px;
}

.sidebar li {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 0.5em;
  font-family: serif;
  font-weight: lighter;
}
.sidebar ol {
  list-style: none;
  padding-bottom: 1em;
  border-bottom: thin solid #eee;
}

.sidebar .show-more {
  text-align: center;
  text-decoration: underline;
}

.main-content article {
  border-left: 4px solid #bbb;
  padding-left: 1em;
}

.sponsors {
  text-align: center;
  background-color: #343538;
  padding: 0;
}

.sponsors h3 {
  font-family: serif;
  font-weight: normal;
  text-align: center;
  color: #aaa;
}

.sponsors img {
  margin: 1em 0;
  max-width: 100%;
}

.sponsors ul {
  padding: 1em;
}
.job-opening__company-logo, .company-summary__logo {
    max-width: 100%;
    max-height: 100%;
}
