// Fonts
@import url(https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow|Raleway|Signika);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";


.header-logo {
    background-color: $primary-color;
    height: 200px;
}

.navigation {
    background-color: #fafafa;
    color: $francken-red;
    border-top: 4px solid $secondary-color;
}
.header-image {
    background-color: $secondary-color;
    width: 80%;
    height: 450px;
    float: right;
    border-bottom-left-radius: 1em;
    // https://css-tricks.com/stripes-css/
    // http://jsfiddle.net/jme11/D9M2L/
    // https://jsfiddle.net/vh1mk5yx/5/
    // http://stackoverflow.com/questions/31078763/how-can-i-make-slope
    // http://stackoverflow.com/questions/24337512/create-slope-full-width-css3
    // http://www.hongkiat.com/blog/skewed-edges-css/
}

.header-image:after {
    content: "";
    position: absolute;
    display: block;
    left: -100px;
    top: 0px;
    width: 0px;
    height: 0px;
    border-top: solid 100px #0093f7;
    border-left: solid 100px transparent;
}

.register-cta {
    background-color: $secondary-color;
    height: 350px;
}

.agenda {
    background: white;
    width: 100%;
    margin-top: -6em;
    padding: 3em;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
    font-family: 'PT Sans Narrow';
    margin-bottom: 4em;
}

.agenda-header {
    margin-bottom: 1em;
}

.agenda-list {
    margin-bottom: 0;
}

.agenda-item {
    border-bottom: thin solid #dcdcdc;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

.agenda-item:last-child {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.agenda-item__header {
    font-size: 24px;
    color: $secondary-color-dark;
    margin-bottom: 0;
}

.agenda-item__description {
    color: #aaa;
    margin-bottom: 0;
    line-height: 1.25;
}

.agenda-item__date {
    margin-right: 1em;
}
.agenda-item__date-day {
    color: $primary-color;
    font-size: 40px;
    margin-bottom: -0.1em;
}

.agenda-item__date-month {
    font-size: 17px;
    color: #aaa;
    text-transform: uppercase;
    font-weight: bold;
}

.news {
    background-color: $secondary-color;
}
.about {
    background-color: white;
    box-shadow: 1px 1px 5px #aaa;
    /* border: thin solid black; */
    padding: 4em;

    /* http://www.endocreative.com/flexbox-circle-responsive-elements/ */
    flex: 1 0 auto;
    height:auto;
}

.section-header {
    color: $primary-color;
    padding-bottom: 0.25em;
    position: relative;
    z-index: 1;
}

.section-header:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 88px;
    border-bottom: solid 3px $secondary-color-dark;
}

.about-francken {
    margin-top: 2em;
}
.about-francken__j-c-francken {
    margin-top: -5em;
}

.about-francken__j-c-francken .rounded-circle:after {
    content: '';
    width: 100px;
    height: 100px;
    border: thin solid black;

    content: "";
    position: absolute;
    display: block;
    left: -100px;
    top: 0px;
    width: 0px;
    height: 0px;
    border-top: solid 100px #0093f7;
    border-left: solid 100px transparent;

}
// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap.scss";

@import "header";
@import "footer";
