// Set the border width of the border above the navigation
$top-stroke-width: 6px;

.header__logo {
    color: white;
    padding: 1em;
    background-color: $primary-color;
    width: 100%;

    img {
        filter: brightness(0) invert(1);
        z-index: 10;
        height: 40px;
        max-width: 100%;
    }
}

.header__title {
    font-size: 1em;
    line-height: 1.1;
    font-weight: 500;
    font-family: $headings-font-family;

    margin-left: auto;
    margin-right: auto;
}

.header__title-link {
    width: 100%;
    color: white;

    // Make both the logo and "T.F.V 'Professor Francken'" show in the mobile menu
    z-index: 202;
    position: relative;

    &:hover, &:focus {
        color: white;
        text-decoration: none;
    }
}

.navigation__menu {
    font-family: $menu-navigation-font;
    color: $primary-color;
    margin-bottom: 1em;
    margin-top: 3em;

    // This is to set the position of the sub menu
    position: relative;
}

.navigation__menu-item {
    font-weight: 400;
    font-size: 1.2rem;
    color: $primary-color;
}

.navigation__sub-menu {
    position: absolute;
    left: 0;
    margin-top: .5em;
    margin-left: 2em;
}

.navigation__sub-menu-item {
    display: none;
    color: #999;
    font-size: 0.95rem;
    position: relative;
}

.navigation__sub-menu-item--active {
    display: block;
}

.navigation__sub-menu-item:after {
    content: "";
    position: absolute;
    right: 0;
    top: 25%;
    height: 50%;
    border-right: thin solid #aaa;
}

.navigation__sub-menu-item:last-child:after {
    border-right: none;
}

.login-link {
    background: $secondary-color;
    color: white;
    border-radius: 4px;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.navigation-list {
	  margin: 0;
    padding: 0;
		padding-top: 76px;

	  list-style-type: none;
    z-index: 200;
	  transition: transform 0.3s cubic-bezier(.62,.28,.23,.99);

		position: absolute;
		bottom: 100%;
		left: 0;
    right: 0;
		background: $primary-color;
}

.navigation-list__item {
	  float: left;
	  position: relative; /* couples with navigation-sub-list */
		float: none;
		display: block;
		height: auto;

    &:focus,
    &:hover,
    &:active {
        background: darken($primary-color, 5%);
    }
}

/* Color the active menu item */
.navigation-list__item--active {
    background: $primary-color;
	  color: #FFF;

    /* Removes the caret below the active item */
    &:after {
		    display: none;
    }

    a:link, a:visited {
        color: #FFF;
    }
}

/* When the associated page is visited we want the background color
     of a selected caret to be somewhat lighter than the item's background */
.navigation-list__item--active {
    &.navigation-list__item--active-sub-list .navigation-sub-list__toggle {
    	  background: $primary-color;
    }
}

/* Color the caret when it is selected */
.navigation-list__item--active-sub-list {
    .navigation-sub-list__toggle {
        background: #CCC; /*$grey;*/
    }

    .navigation-sub-list {
    	  height: auto;
	      min-width: 200px;
    	  width: auto;
	      display: block;
    }
}

.navigation-list__item,
.navigation-sub-list li a {
	  transition: background-color 0.1s cubic-bezier(.62,.28,.23,.99);
}

.navigation-list__link {
    color: #31255e;
	  text-decoration: none;
	  padding: 0 .8em;
	  display: inline-block;
	  line-height: 90px;

    &:hover {
        color: #6c5ea2;
		    text-decoration: none;
    }

    &:link, &:visited {
		    color: #FFF;
		    border: 0;
		    display: block;
		    float: left;
		    padding: 0 0 0 4%;
		    width: 82%;
    }
}

/* This class is used for the mobile menu */
.navigation-list--active {
		transform: translateY(100%);
		box-shadow: 0 0 50px rgba(0,0,0,0.5);
}

.navigation-sub-list__toggle {
    text-align: center;
    cursor: pointer;
	  line-height: 90px;
    height: 90px;
	  display: inline-block;
    vertical-align: top; /* lost 1px bug in chrome op */

    /* Move a bit closer to the associated list item */
	  margin-left: -5px;

    /* dunno */
    user-select: none;
}

/** Top Sub menu **/
.navigation-sub-list {
    display: none;
	  padding: 0;
	  background: #FFF;
	  z-index: 201;
	  height: 0;
	  overflow: hidden;

		width: 100%;
		position: static;
}

.navigation-sub-list__link,
a.navigation-sub-list__link:link,
a.navigation-sub-list__link:visited {
    display: block;
    padding: 0 .8em;
    line-height: 3;
    border: 1px solid #CCC;
    border-top: 0;
    color: #444;
}

.navigation-sub-list li a:focus {
    background: darken(white, 5%);
}

/** Responsive **/
.navigation-sub-list__toggle {
    float: right;
    width: 14%;
    color: white;
}


/* Wrapper around the Hambuger menu */
.navigation__hamburger-menu {
    float: right;
	  position: relative;
	  z-index: 202;
    display: block ;
}

.hamburger-menu {
		display: block;
	  background: $primary-color;
    padding: 1em;
	  border: 0;
	  float: right;

    &:hover {
        background: $primary-color;
    }

    .hamburger-menu__line {
		    width: 22px;
    		height: 2px;
		    background: #FFF;
    		display: block;
    }

    .hamburger-menu__line + .hamburger-menu__line {
        margin-top: 4px;
    }
}

@include media-breakpoint-up(md) {
    .header {
        border-top: $top-stroke-width solid $secondary-color-dark;
    }

    .header__title-link {
        width: initial;
    }

    .navigation__hamburger-menu,
    .navigation-list {
        display: none;
    }

    .header__logo {
        padding: 2em 1em;
        padding-right: 5em;
        text-align: right;
        border-radius: 0px 0px 10px 0px;

        margin: -$top-stroke-width 0 1em 0;
        margin-bottom: -4em;

        img {
            height: 60px;
        }
    }

    .header__title {
        font-size: 1.75rem;
        margin: 0 0 0 1em;
    }
}

@include media-breakpoint-up(lg) {
    .header__logo {
        padding: 4em 1em;
        padding-right: 5em;

        img {
            height: 100px;
        }
    }
}

@include media-breakpoint-between(md, lg) {
    .navigation__menu-item {
        font-size: 1rem;
    }

    .header__title {
        display: none;
    }
}

@import "components/header-image";
