// Set the border width of the border above the navigation
$top-stroke-width: 6px;

.header {
    border-top: $top-stroke-width solid $secondary-color-dark;
}

.header__logo {
    color: white;
    padding: 1em;
    background-color: $primary-color;
    width: 100%;
    margin: -$top-stroke-width 0 1em 0;
}

.header__logo img {
    filter: brightness(0) invert(1);
    z-index: 10;
    height: 40px;
}

.header__title {
    font-size: 1em;
    margin: 0 0 0 1em;
}

.header__title-link {
    color: white;
}

.header__title-link:hover, .header__title-link:focus {
    color: white;
    text-decoration: none;
}

.header__navigation {
    font-family: $menu-navigation-font;
    color: $primary-color;
    z-index: -1;
}

.navigation__menu {
    margin-bottom: 1em;
}

.navigation__menu-item {
    font-weight: 400;
    font-size: 1.2rem;
    color: $primary-color;
}

.navigation__sub-menu {
    margin-left: 2em;
}
.navigation__sub-menu-item {
    display: none;
    color: #999;
    font-size: 0.95rem;
    position: relative;
}

.navigation__sub-menu-item--active {
    display: block;
}

.navigation__sub-menu-item:after {
    content: "";
    position: absolute;
    right: 0;
    top: 25%;
    height: 50%;
    border-right: thin solid #aaa;
}

.navigation__sub-menu-item:last-child:after {
    border-right: none;
}

.navigation__login {
    background-color: $secondary-color-dark;
    padding: 0.5em;
    border-radius: 0 0 4px 4px;
    color: white;

}

// this is from Bootstrap's dropdown-toggle, but now aligned to the right
.navigation__login:before {
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 0.3em;
    vertical-align: middle;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
}

.navigation__login-link {
    color: white;
}

.navigation__login-link i {
    margin-left: .5em;
}

.navigation__login-link:hover {
    color: white;
    cursor: pointer;
}

.header__nav {
    width: 100%;
    height: 150px;
    background: $secondary-color;
    display: inline-block;
    right: 0;
    position: absolute;
    z-index: 0;
}

.login-link {
    background: $secondary-color;
    color: white;
    border-radius: 4px;
}

@include media-breakpoint-up(md) {
    .header__logo {
        padding: 2em 1em;
        padding-right: 5em;
        text-align: right;
        margin-bottom: -4em;
        border-radius: 0px 0px 10px 0px;
    }

    .header__logo img {
        height: 60px;
    }

    .header__title {
        font-size: 1.75rem;
    }
}

@include media-breakpoint-up(lg) {
    .header__logo {
        padding: 4em 1em;
        padding-right: 5em;
    }

    .header__logo img {
        height: 100px;
    }
}

@include media-breakpoint-between(md, lg) {
    .navigation__menu-item {
        font-size: 1rem;
    }

    .header__title {
        display: none;
    }
}

@import "old-menu";

@import "components/header-image";
