.agenda {
    background: white;
    width: 100%;
    padding: 3em;
    font-family: 'PT Sans Narrow';
    margin-top: -3em;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.25);

}

@include media-breakpoint-up(md) {
    .agenda-wrapper {
        padding-left: 3em;
    }

    .agenda {
        margin-top: -6em;
        margin-bottom: 4em;
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
    }
}

.agenda-header {
    margin-bottom: 1em;
}

.agenda-list {
    margin-bottom: 0;
}

.agenda-item {
    border-bottom: thin solid #dcdcdc;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.agenda-item:last-child {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.agenda-item__header {
    font-size: 24px;
    color: $secondary-color-dark;
    margin-bottom: 0;
}

.agenda-item__description {
    color: #aaa;
    margin-bottom: 0;
    line-height: 1.25;
}

.agenda-item__date {
    margin-right: 1em;
}
.agenda-item__date-day {
    color: $primary-color;
    font-size: 40px;
    margin-bottom: -0.1em;
}

.agenda-item__date-month {
    font-size: 17px;
    color: #aaa;
    text-transform: uppercase;
    font-weight: bold;
}

.francken-pillar {
    @extend .rounded-circle;

    background-color: white;
    box-shadow: 1px 1px 5px #aaa;
    padding: 4em;
    flex: 0 0 50%;
    height: 100%;
    text-align: center;
}

.about-francken {
    margin-top: 2em;
}
.about-francken__j-c-francken {
    float: left;
    position: relative;
    margin-right: 2em;
}

.about-francken__j-c-francken:after  {
    content: '';
    position: absolute;
    display: block;
    right: -20px;
    bottom: 0px;
    width: 55px;
    height: 55px;
    border: 2px solid rgba($secondary-color, 0.8);
    border-radius: 50%;
}

.prof-c-j-francken-portrait {
    border: thin solid $primary-color;
    width: 100px;
    height: 100px;
    position: relative;
}

@include media-breakpoint-up(lg) {
    .about-francken__j-c-francken {
        margin-right: 3em;
        margin-top: -6em;
    }

    .about-francken__j-c-francken:after  {
        right: -30px;
        bottom: 5px;
        width: 100px;
        height: 100px;
    }

    .prof-c-j-francken-portrait {
        width: 230px;
        height: 230px;
    }
}

.list {
    margin: 2em 0;
}

.list li {
    margin: 0.25em 0;
}

.list li::before {
    content: "•";
    color: $secondary-color-dark;
    margin-right: 1em;
}
