.francken-pillar {
    box-shadow: 1px 1px 5px #aaa;
    margin: 3em 0;
    text-align: center;

    .card-body {
        padding: 2rem;
    }
}

.francken-pillar__icon {
    width: 100px;
    height: 100px;
    margin: -3em auto 1em auto;
}
.francken-pillar__footer {
    background: none;
    border: none;
    text-align: center;
    margin-bottom: 1em;
}

.about-francken {
    margin-top: 2em;
}
.about-francken__j-c-francken {
    float: left;
    position: relative;
    margin-right: 2em;
}

.about-francken__j-c-francken:after  {
    content: '';
    position: absolute;
    display: block;
    right: -20px;
    bottom: 0px;
    width: 55px;
    height: 55px;
    border: 2px solid rgba($secondary-color, 0.8);
    border-radius: 50%;
}

.prof-c-j-francken-portrait {
    border: thin solid $primary-color;
    width: 100px;
    height: 100px;
    position: relative;
}

@include media-breakpoint-up(lg) {
    .about-francken__j-c-francken {
        margin-right: 3em;
        margin-top: -6em;
    }

    .about-francken__j-c-francken:after  {
        right: -30px;
        bottom: 5px;
        width: 70px;
        height: 70px;
    }

    .prof-c-j-francken-portrait {
        width: 150px;
        height: 150px;
    }
}

.list {
    margin: 2em 0;
}

.list li {
    margin: 0.25em 0;
}

.list li::before {
    content: "•";
    color: $secondary-color-dark;
    margin-right: 1em;
}
