.lustrum-list-item {
  padding: 4em;
  position: relative;
  overflow: hidden;
}

.lustrum-background-gradient {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #273151;
  background: linear-gradient(to top left, #4d5bc4, #a41786);
  z-index: -2;
}

.lustrum-background-image {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  mix-blend-mode: multiply;
  filter: grayscale(100%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-blend-mode: multiply;
  z-index: -1;
}

.lustrum-information-list {
  font-size: 1.5rem;
}
