$francken-blue: #173249;
$francken-red: #E63C39;

$primary-color: #011842;
// $secondary-color: $francken-red;
$secondary-color: #9edad3 !default;
$secondary-color-dark: #7ebcb5 !default;
// $secondary-color: #7FBCB5; is more greenish

$francken-blue: $primary-color;
$francken-red: $secondary-color;


$blue: $francken-blue; // override
$red: $francken-red; // override

$brand-primary:             $blue !default;
$brand-danger:              $red !default;
// font-family: 'PT Sans', sans-serif;
// font-family: 'PT Sans Narrow', sans-serif;
// font-family: 'Signika', sans-serif;
// font-family: 'Raleway', sans-serif;

// Body
$body-bg: #FAFAFA; // override
$footer-bg: #E8E8E8;

// Links

$link-color: $francken-red !default;

// Fonts

$font-family-sans-serif: 'PT Sans', sans-serif -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-base:       $font-family-sans-serif !default;

// Headings
$headings-font-family: 'Signika', sans-serif !default;

// Buttons
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             $btn-primary-bg !default;

$btn-danger-bg:                  $brand-danger !default;
$btn-danger-border:              $btn-danger-bg !default;
